*{
    margin: 0;
    padding: 0;
    /*تحافظ على المساحات*/
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;

}
body{
    font-family: Arial,Tahoma;
}
ul{
    list-style: none;
}
.clearfix{
    clear: both;
}

.main{
   background: #333;
    color: #DDD;
    padding: 20px;
    text-align: center;
} 
/*Star Article*/
nav{
background:#DDD; 
}
nav ul{
padding: 20px;
text-align: center;

}
nav ul li {
display: inline-block;
text-align: center;
}
nav ul li::after {
content:" |" ; 
}
nav ul li:last-child::after{
    content: ""  ;
}


/*Star Artcle*/
.post{
    width: 70%;
    float: left;
}
.post article{
background-color: #F6F6F6;
 border:1px solid #CCC;
 margin:20px; 
}
.post article header{
background-color: #ecdede;
    padding: 10px;
  
}
.post article section{
 padding: 10px;
}
.post article section Details{
 margin: 10px 0;
}
.post article section .long-link{
    width: 200px;
}
.post article section code{
  background-color: #FFF;
    padding: 10px;
    display: block;
    margin: 10px 0;
    border: 1px solid #CCC;
    max-width: 500px;
}
.post article section dialog{
    position: fixed;
    top: 0;
    left: 0;
    }

.post article section.img-figure{
     background-color: #FFF;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #CCC;
    width: 960px; 
    text-align: center;
}
.post article section .img-figure img{
    border: 1px solid #CCC;
    padding: 3px;
    background-color: #FF0;
    }
/*Star footer*/

footer{
  background-color: #333;
    color: #DDD;
    text-align: center;
    padding: 10px;
}



/*Star main*/
main {
background-color: #EEE;
padding: 20px;

}
main p{
text-align:center;
}
main p span{
    font-weight: bold;
    color: #888;
}
main p mark{
background-color: #00F;
color: #FFF;
}
/*Start side bar*/
aside{
  float: right;
    width: 30%; 
}
aside section{
    background-color: #EEE;
    margin:20px 10px ;
   padding: 10px;
    border: 1px solid #CCC;
    margin-bottom: 20px;
}
aside section h3{
 background-color:#D1D1D1;
    padding: 10px;
    margin-bottom: 10px;
}
aside section ul{
}
aside section ul li{
 line-height: 1.8;
}
aside section div{
}
/*End side bar*/